.deps
.libs
Makefile
t-aio
t-astc
t-astc2
t-bigint
t-dkg
t-eotp
t-key
t-mpc
t-mpz
t-poker
t-poker-aiou
t-poker-cutnchoose
t-poker-noninteractive
t-poker-rot
t-poker-rot-noninteractive
t-rfc4880
t-seabp
t-tmcg
t-votc
t-vrhe
t-vss
t-vsshe
t-vtmf
*.o
*.lo
*.in
*.log
*.trs
